@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
:root{
    --background: #f3eae3;
}
body{
    background-color: var(--background) !important;
}
.container-lg{
    /* background-color: var(--background); */
}
.project-card{
    overflow: hidden;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
    transition: all ease-in-out 200ms;
}
.project-card:hover{
    box-shadow: 0 0 6px 4px rgba(0,0,0,0.3);
}
.img-box{
    width: 100%;
    aspect-ratio: 16/9;
}
.img-box img{
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    transition: all ease-in-out 300ms;
}
.project-card:hover .img-box img{
    scale: 1.02;
}
.detail-box{
}
.button-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}